<nb-layout>

  <nb-layout-header fixed>
    <button nbButton shape="semi-round" status="info" routerLink="login" *ngIf="!loggedIn">Login</button>
    <button nbButton shape="semi-round" status="info" routerLink="home" *ngIf="loggedIn">Home</button>
    <button nbButton shape="semi-round" status="info" routerLink="articles" *ngIf="loggedIn">Articles</button>
    <button nbButton shape="semi-round" status="info" routerLink="subscribers" *ngIf="loggedIn">Subscribers</button>
    <button nbButton shape="semi-round" status="danger" (click)="removeToken()" *ngIf="loggedIn">Logout</button>
  </nb-layout-header>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <p>Made with <nb-icon icon="heart"></nb-icon> by Davide Marino &copy; 2019</p>
  </nb-layout-footer>

</nb-layout>
